@media screen and (max-width: 992px) {
  .heading {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 8rem;
    line-height: 8rem;
  }
}
