html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/Fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/Fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}
